.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    background: url(../../../assets/img/background.jpg);
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.row {
    width: 100%;
    display: flex;
}

.row-separator {
    width: 100px;
}

.cell {
    width: 100%;
}

.padding-bottom {
    margin-bottom: 50px;
}

.compact-title {
    margin: 0;
}

.title-group {
    margin-top: 20px;
}

.title-group-element {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: white;
}

h2 {
    color: #eee;
}

h3 {
    color: #eee;
}

@media only screen and (max-width: 750px) {
    .container {
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .row {
        display: block;
    }

    .cell {
        margin: 10px;
    }
}