.white-container {
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.title-group {
    margin-top: 20px;
    margin-bottom: 50px;
}

.title-group-element {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}