<div class="container">
    <div class="container-row">
        <h1 class="padding-title">Eneko Díaz Romero</h1>
        <div class="title-group">
            <h2 class="title-group-element">Software developer</h2>
            <h3 class="title-group-element">Alcalá de Henares, Madrid</h3>
        </div>
    </div>
    <div *ngIf="!android" class="separator"></div>
    <div *ngIf="android" class="alert alert-warning">
        This page uses <a href="https://xtermjs.org">Xterm.js</a>, which currently does not support Android keyboard. See the <a href="https://github.com/reef-technologies/xterm.js/issues/1">issue</a> on GitHub
    </div>
    <app-terminal class="container-row terminal"></app-terminal>
    <div class="separator"></div>
</div>