<div class="container">
    <div class="header padding-bottom">
        <h1 class="compact-title">Eneko Díaz Romero</h1>
        <div class="title-group">
            <h2 class="title-group-element">iOS developer</h2>
            <h3 class="title-group-element">Alcalá de Henares, Madrid</h3>
        </div>
    </div>
    <app-warning-alert *ngIf="android">
        This page uses <a href="https://xtermjs.org">Xterm.js</a>, which currently does not support Android keyboard. See the <a href="https://github.com/reef-technologies/xterm.js/issues/1">issue</a> on GitHub
    </app-warning-alert>
    <app-terminal class="row terminal padding-bottom"></app-terminal>
</div>