.terminal-container {
    padding: 10px 20px;
    height: 550px;
    width: 100%;
    border-radius: 12px;
    background-color: black;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .terminal-container {
        border-radius: 0;
    }
}